* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.mainContain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(https://cdn.andro4all.com/files/2021/07/Fondo-de-pantalla-Reddit-2.jpg?width=700);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginContain {
    height: max-content;
    width: 80%;
    background: rgba(240, 240, 240, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.loginLogo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(./img/logo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: -40px;
    margin-left: -50px;
    left: 50%;
}

.loginContain h1 {
  text-align: center;
  font-size: 26px;
  margin: 80px 20px 0;
}

.loginForm {
    margin: 30px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.loginForm label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginForm input.username, .loginForm input.passwordInput {
    margin-bottom: 40px;
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 2px solid #b80f22;;
    font-size: 14px;
    padding: 5px 10px;
    outline: none;
    background: transparent;
}

.loginForm input::placeholder{
    color: rgb(32, 32, 32);
    font-weight: 400;
}

.loginForm input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    border: 1px solid #b80f22;
    font-size: 18xp;
    border-radius: 20px; 
    transition: .3s;
    box-shadow: 0 10px 20px 6px rgb(0 0 0 / 12%);
}

.loginForm input[type="submit"]:hover {
    cursor: pointer;
    transition: .3s;
    box-shadow: none;
}

.signLinks {
    margin: 5px;
}

.loginForm a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(36, 36, 36);
    margin: 10px 5px 0;
    transition: .2s;
}
.loginForm a:hover {
    color: black;
    transition: .2s;
}
